/* Enter your custom styles here */
.main{
    display: flex;
    flex-direction: row;
    gap : 3rem;
    padding-left: 2rem;
}
.css1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.DT{
    height: 200px;
}
.btn{
    margin-left: 46rem;
}

.btn1{
    margin-top: 10px;
}


.header4{
    height: 80px;
}

.border{
    border-bottom: 1px solid black;
}

